$white: #fff;
$black: #000;
$primary: #63c132;
$secondary: #a50303;
$about: #FF6943;
$careers: #15C6C6;
$loans: #FF6943;
$investments: #3860FF;
$loanfriends: #FF49AB;
$mobileapp: #26C165;
$help: #27E7A2;
$faq: #27E7A2;
$blog: #3860FF;